@import 'src/scss/styles.scss';

.Signin {
  // STRUCTURE

  &-content {
    @include container(450px);
  }

  &-logo {
    margin: 5%;
    width: 60%;
  }

  .formFooter {
    background-color: $bg-gray;
    border-top: 1px solid $very-light-primary;
    padding: 25px;
    text-align: center;
    @include border-radius(0 0 10px 10px);
  }
}
