<div *ngIf="!paidFor">
  <h2>{{ 'signup.subTitle' | translate}}</h2>

  <div class="card-deck">
    <div *ngIf="!products">
      <span class="Inline-error">
        {{ 'errors.loadingProducts' | translate }}
      </span>
    </div>
    <div class="card" *ngFor="let item of products">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-header">
        <h3 class="card-title" [innerHTML]="item.name"></h3>
        <h1 class="card-subtitle">$ {{item.price}}</h1>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHtml]="item.description | translate"></div>
      </div>
      <button type="button" class="btn btn-primary" (click)="selectSubscription(item)">Select</button>
    </div>
  </div>

  <div #paypal></div>
</div>
<div *ngIf="paidFor">
  <app-logo size="50vh"></app-logo>
  <h1>{{ 'signup.initialSubSucessful' | translate }}</h1>
</div>
