@import 'src/scss/styles.scss';

.card-title {
  height: 8vh !important;
}

.card-body {}

.card-text {
  text-align: left;
}

.card {
  background: $bg-gray;
  margin: 20px;
  padding: 5px;
  min-width: 20vh;
  border: 1px solid $medium-primary;
}

::ng-deep .list-group-item {
  background: $bg-gray !important;
  border: none !important;
}

.card:hover,
::ng-deep .card:hover .list-group-item {
  color: white;
  background: $medium-primary !important;
}
