<div class="Signin">
  <div class="Wrapper fadeInDown">
    <div class="Signin-content">

      <div *ngIf="!this.confirmed">
        <span *ngIf="!this.accountDoesntExistMsg">
          {{ 'info.accountConfirming' | translate }}
        </span>

        <span class="Inline-error" *ngIf="this.accountDoesntExistMsg">
          {{ 'errors.doesNotExist' | translate }}
        </span>
      </div>
      <div *ngIf="this.confirmed">
        <span *ngIf="!this.accountDoesntExistMsg">
          {{ 'info.accountConfirmed' | translate }}
        </span>
      </div>

    </div>
  </div>
</div>
