<!--
  Example at:
  https://bootsnipp.com/snippets/dldxB
-->
<div class="signin">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Logo -->
          <div class="fadeIn first">
            <img [src]="logo" class="logo" alt="logo" />
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login"
              placeholder="{{ 'backoffice.login.1' | translate }}">
            <input type="password" id="password" class="fadeIn third" name="login"
              placeholder="{{ 'backoffice.login.2' | translate }}">
            <input type="button" (click)="validateBeforeSubmit()" class="fadeIn fourth"
              value="{{ 'backoffice.login.3' | translate }}">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">{{ 'backoffice.login.4' | translate }}</a>
          </div>

        </div>
      </div>
</div>
