<div class="Signin">
  <div class="Wrapper fadeInDown">
    <div class="Signin-content">
      <!-- Tabs Titles -->

      <!-- Title-->
      <div class="formHeader">
        <h2>{{ 'signin.title' | translate }}</h2>
      </div>

      <!-- Logo -->
      <div class="fadeIn-first">
        <img [src]="logo" class="Signin-logo" alt="logo" />
      </div>

      <!-- Login Form -->
      <form [formGroup]="loginForm">
        <span class="Inline-error" *ngIf="unoutorizedMessage">
          {{ 'signin.invalidLogin' | translate }}
        </span>

        <input type="text" id="login" class="fadeIn-second" formControlName="login"
          placeholder="{{ 'signin.email' | translate }}">

        <input type="password" id="password" class="fadeIn-third" formControlName="password"
          placeholder="{{ 'signin.password' | translate }}">

        <input type="button" class="fadeIn-fourth" [disabled]="!loginForm.valid" (click)="validateBeforeSubmit()"
          value="{{ 'signin.button' | translate }}">
      </form>

      <!-- Footer -->
      <div class="formFooter">
        <a class="underlineHover" [routerLink]="['/signup']">{{ 'signin.newAccount' | translate }}</a>
        <br>
        <a class="underlineHover" [routerLink]="['/forgot']">{{ 'signin.forgotPass' | translate }}</a>
      </div>

    </div>
  </div>
</div>
