@import 'src/scss/styles.scss';

.SideBar {
  align-self: left;
  background-color: white;
  border: 1px;
  height: 100vh;

  .sidebar {
    background-color: #DCE8F1;
    height: 100vh;
  }

  .nav-link {
    width: 100% !important;
  }
}
