@import 'src/scss/styles.scss';

.Signup {
  // STRUCTURE

  &-content {
    @include container(1150px);
  }

  &-logo {
    margin: 5%;
    max-width: 30vh;
  }

  .formHeader {
    border-bottom: 1px solid $very-light-primary;
    margin-bottom: 20px;
  }

  .formFooter {
    background-color: $bg-gray;
    border-top: 1px solid $very-light-primary;
    text-align: center;
  }

  .terms {
    background: $very-light-primary;
    display: block;
    margin: 20px;
    padding: 20px;
    border: 1px solid $medium-primary;

    input[type=checkbox] {
      display: inline-block;
      margin-right: 10px;
    }

    label {
      display: inline;
    }
  }

  .navs ul {
    justify-content: center;
  }

  span {
    background: $very-light-primary;
    display: block;
    margin: 20px;
    padding: 20px;
    border: 1px solid $medium-primary;
  }

}
