/* You can add global styles to this file, and also import other style files */
@import './images.scss';
@import './colors.scss';
@import './variables.scss';
@import './mixin.scss';

// GENERIC
html,
body {
  background-image: url($bg-vector);
  background-repeat: repeat;

  font-family: $font-family;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  color: $light-primary;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: $dark;
}

h2.inactive {
  color: $light-gray;
}

h2.active {
  color: $dark;
  border-bottom: 2px solid $heavy-primary;
}

// GLOBAL CLASSES
.Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.Inline-error {
  color: $warn;
}

// GLOBAL ANIMATION CLASSES

// Simple CSS3 Fade-in-down Animation
.fadeInDown {
  @include animation {
    @include fadeInDown;
  }

  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

// Simple CSS3 Fade-in Animation
.fadeIn {
  @include animation(ease-in 1) {
    @include fadeIn;
  }

  @include animation-fill-mode(both);
  @include animation-duration(1s);

  &.-first {
    @include animation-delay(0.4s);
  }

  &.-second {
    @include animation-delay(0.6s);
  }

  &.-third {
    @include animation-delay(0.8s);
  }

  &.-fourth {
    @include animation-delay(1s);
  }
}

// FORM TYPOGRAPHY
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $medium-primary;
  border: none;
  color: $light;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin: 5px 20px 40px 20px;

  @include box-shadow(0 10px 30px 0 $shadow-colored);
  @include border-radius(5px);
  @include transition(0.3);
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: $heavy-primary;
}

input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled {
  background-color: $light-gray;
  @include box-shadow(none);
}

input[type=button]:enabled,
input[type=submit]:enabled,
input[type=reset]:enabled {
  @include transform(0.95s)
}

input[type=text],
input[type=password],
input[type=date] {
  background-color: $very-light-gray;
  border: none;
  color: $dark;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  @include transform(0.5s);
  @include border-radius(5px);
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus {
  color: $light;
  background-color: $heavy-primary;
  border-bottom: 2px solid $other-primary;
}

input[type=text]:placeholder,
input[type=password]:placeholder,
input[type=date]:placeholder {
  color: $dark;
}

// Underline Hover
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: $medium-primary;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: $dark;
}

.underlineHover:hover:after {
  width: 100%;
}

// Other
*:focus {
  outline: none;
}
