@import 'src/scss/styles.scss';

.Productspage {
  // STRUCTURE

  &-content {
    @include container(450px);
  }

  .card-deck,
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    min-width: 25%;
    max-width: 25%;
  }

  @media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .card-deck {
      display: block;
    }

    .card {
      min-width: unset;
      max-width: unset;
      width: 100%;
    }
  }
}
